* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --white: #ffffffeb;
  --dark-gray: #111111;
  --ligth-gray: #313134;
  --ligther-gray: #797979;
  --bg-gray: #202023;
  --sunset-orange: #ffa674;
}

html {
  scroll-behavior: smooth;
}

.patagonia-tours {
  font-size: 25px;
}

.main-container {
  position: relative;
  background-color: #202023;
}

.main-container header {
  height: 150px;
  width: 100vw;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 10;
  transition: .3s ease;
}

.active-header {
  height: 80px !important;
  transition: .3s ease;
}

.main-container header ul {
  width: 35vw;
  height: inherit;
  margin: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.main-container header ul li a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--white);
  transition: .3s ease;
}

.main-container header ul li a:hover{
  color: var(--sunset-orange);
}

.main-container .banner {
  width: 100vw;
  height: 90vh;
  background-image:url(../images/banners/Fitzroy2.jpg);
  background-size: cover;
}

.main-container .banner-overlay {
  width: 100vw;
  height: 90vh;
  position: absolute;
  /* background-color: var(--bg-gray); */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(32,32,35,1) 100%);
  opacity: .5;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
}

.main-container .logo-overlay {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.logo-overlay > h3 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -3px;
  text-align: center;
  margin-bottom: 10%;
}

.main-container .logo-overlay img {
  width: 15vw;
  min-width: 200px;
}

.destinations {
  width: 100vw;
  background-color: var(--bg-gray);
  padding: 100px 200px;
}


.section-title > h3 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.section-title > p {
  color: gray;
  font-size: 1rem;
}

.section-title > p > span {
  color: var(--sunset-orange);
}

.destinations .destinations-grid {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 25px 0;
}

#item-first {
  background-image: url(../images/destinations/bigIce.jpg);
}

#item-second {
  background-image: url(../images/destinations/chorrillo_de_salto.jpg);
}

#item-third {
  background-image: url(../images/destinations/lago-del-desierto.jpg);
}

#item-fourth {
  background-image: url(../images/destinations/laguna-capri.jpg);
}

#item-fith {
  background-image: url(../images/destinations/laguna-de-los-tres.jpg);
}

#item-sixth {
  background-image: url(../images/destinations/loma-del-pliegue-tumbado.jpg);
}


.destinations .destinations-grid .item {
  position: relative;
  background-size: cover;
  width: 50%;
  height: 400px;
  margin-top: 15px;
}

.destinations .destinations-grid .item .item-overlay {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(32,32,35,1) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  /* opacity: .5; */
  transition: 0.5s ease;
}

.destinations .destinations-grid .item .item-overlay:hover {
  opacity: .5;
}

.destinations .destinations-grid .item .item-data {
  position: absolute;
  width: 100%;
  padding: 0 25px;
  color: var(--white);
  height: 90px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.destinations .destinations-grid .item .item-data .name {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}

.item-data .name > h1 {

}

.item-data .name > p {
  color: var(--white)
}

.destinations .destinations-grid .item .item-data .dificulty {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.dificulty .dificulty-indicator {
  padding: 8px;
  background-color: orange;
  border-radius: 25px;
}

.dificulty .dificulty-indicator > h3 {
  font-size: .8rem;
}



.about-us {
  width: 100vw;
  background-color: var(--bg-gray);
  padding: 100px 200px;
}

.about-us .container {
  margin: 25px 0;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.about-us .container .information {
  height: 100%;
  max-width: 800px;
}

.about-us .container .information > p {
  font-size: 1rem;
  color: var(--white);
}

.about-us .container > img {
  width: 80vw;
  max-width: 500px;
}



.review .section-title {
  margin: 0 0 50px;
  position: relative;
  z-index: 10;
}

.collage-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.collage-container .top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 300px;
  width: 100%;
  gap: 15px;
}

.collage-img-1 {
  background-image: url(../images/general/crampones.jpg);
  flex-grow: 1;
  height: 100%;
  background-size: cover;
}

.collage-container .top-row .vision {
  display: flex;
  /* flex-grow: 1; */
  background-color: #0A3863;
  /* max-width: 250px; */
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 35px;
  text-align: center;
  width: 15vw;
}

.collage-img-2 {
  background-image: url(../images/destinations/bigIce.jpg);
  flex-grow: 1;
  height: 100%;
  background-size: cover;
}


.collage-container .top-row .vision > p {
  color: var(--white);
  font-size: 1rem;
}

.collage-container .top-row .vision > p > span {
  color: #00FFF0;
}

.collage-container .collage-banner {
  width: 100%;
}


.review {
  padding: 100px 200px;
}

.review-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.review-container .review-item {
  padding: 40px;
  background-color: #B9927D;
  height: 400px;
  width: 300px;
  border-radius: 25px;
  overflow-y: hidden;
}

.review-container .review-item .reviewer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.review-container .review-item .reviewer > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.reviewer-info > h3 {
  color: #0A3863;
  font-size: 1rem;
  font-weight: 800;
}

.reviewer-info > p {
  font-weight: 300;
  font-size: .8rem;
}

.review-container .review-item .stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.review-container .review-item .stars > img {
  width: 20px;
  margin-top: 15px;
}

.review-container .review-item .review-text {
  margin: 5px 0 0;
}

.review-container .review-item .review-text > p {
  font-size: .9rem;
  letter-spacing: 0px;
}




footer {
  width: 100vw;
  height: 200px;
  background-color: var(--ligth-gray);
  display: flex;
}

footer .left {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

footer .left > img {
  width: 200px;
}

footer .left > p {
  color: white;
  max-width: 600px;
}

footer .rigth {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
  color: white;
}



/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main-container header ul {
    display: none;
  }

  .main-container header {
    height: 50px;
  }

  .logo-overlay > h3 {
    font-size: 3rem;
    margin-bottom: 20%;
  }

  .section-title > p {
    font-size: .8rem;
  }

  .section-title > h3 {
    font-size: 1rem;
  }

  .destinations {
    padding: 50px 15px !important;
  }

  .destinations .destinations-grid {
    margin: 0;
  }

  .destinations .destinations-grid .item {
    height: 30vh !important;
    max-height: 450px;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin-top: 15px;
  }

  .destinations .destinations-grid .item .item-data {
    padding: 0 5px;
    height: 60px;
  }

  .dificulty .dificulty-indicator > h3 {
    font-size: 0.6rem;
  }
  
  .destinations .destinations-grid .item .item-data .dificulty {
    width: 40%;
  }
  .destinations .destinations-grid .item .item-data .name {
    width: 60%;
    font-size: .6rem;
  }

  .dificulty .dificulty-indicator {
      padding: 4px;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
  }

  .about-us {
    padding: 50px 15px !important;
  }
  
  .about-us .container {
    flex-direction: column;
    gap: 0;
  }

  .about-us .container .information > p {
    text-align: center;
  }

  .collage-container .top-row {
    height: 500px;
    flex-direction: column;
    gap: 5px;
  }

  .collage-img-1 {
    height: 100%;
    width: 100%;
  }

  .collage-img-2 {
    display: none;
  }

  .collage-container .collage-banner {
    display: none;
  }

  .collage-container .top-row .vision {
    padding: 50px;
    width: 100%;
  }

  .review {
    padding: 50px 15px !important;
  }

  .review-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .main-container header ul {
    width: 50vw;
  }

  .review {
    padding: 50px 15px !important;
  }

  .review-container {
    flex-direction: column;
  }

  
}

