/* PRODUCTS */
.review {
  position: relative;
  overflow: hidden;
  padding: 100px 200px;
  background-color: var(--bg-gray);
}

.review-container {
  padding: 0;
  /* padding: 0 10vw; */
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.review-container::-webkit-scrollbar {
  display: none;
}

.review-card {
  flex: 0 0 auto;
  width: 350px;
  height: 450px;
  margin-right: 40px;
}

.review-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.review-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.review-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.review-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.review-brand {
  text-transform: uppercase;
}

.review-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #202023 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 8vw;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 8vw;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.5;
  transition: .3s ease;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
